.about {
  padding: 0 30px;
}

.about__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 30px;
}

.about__item {
  font-size: 17px;
  font-weight: 700;
  color: #000000;
  padding-top: 57px;
  margin-bottom: 30px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    background-repeat: no-repeat;
  }
}

@media (min-width: $tablet) {
  .about {
    padding: 0 50px;
  }

  .about__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 450px;
  }

  .about__item {
    width: 50%;
    font-size: 20px;
    line-height: 22px;
    padding-right: 40px;
  }
}

@media (min-width: $desktop) {
  .about {
    padding: 0 225px;
    width: $desktop;
    margin-left: auto;
    margin-right: auto;
  }

  .about__item {
    &:first-child {
      padding-right: 135px;
    }

    &:nth-child(2),
    &:nth-child(3) {
      padding-right: 110px;
    }

    &:nth-child(4),
    &:nth-child(6) {
      padding-right: 100px;
    }
  }
}
