.btn {
  display: block;
  width: 100%;
  font-size: 17px;
  font-weight: 700;
  line-height: 60px;
  color: $normal;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: 1px solid #000000;
  background-color: transparent;
}
