.contacts {
  padding-bottom: 40px;
}

.contacts__table,
.contacts__btn,
.contacts__title {
  width: 260px;
  margin: 0 auto;
}

.contacts__line {
  padding-bottom: 40px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contacts__table {
  span:first-child {
    width: 75px;
    flex-shrink: 0;
  }

  a {
    color: $normal;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 1px solid $green;
  }
}

.contacts__map {
  width: 100%;
  height: 457px;
  margin-bottom: 40px;
  background-image: url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-width: $tablet) {
  .contacts__title,
  .contacts__table {
    width: 668px;
  }

  .contacts__line {
    width: 50%;
    justify-content: flex-start;
  }

  .contacts__table {
    display: flex;

    span:nth-child(2) {
      padding-right: 40px;
    }
  }
}

@media (min-width: $desktop) {
  .contacts {
    padding-left: 175px;
    position: relative;
  }

  .contacts__map {
    width: 525px;
    position: absolute;
    top: 0;
    right: 0;
  }

  .contacts__title,
  .contacts__table {
    width: 350px;
    margin: 0;
  }

  .contacts__table {
    display: block;

    span:nth-child(2) {
      padding-right: 50px;
    }
  }

  .contacts__line {
    width: 100%;
  }

  .contacts__btn {
    margin-left: 0;
  }
}
