.menu {
  position: relative;
}

.menu__link {
  display: block;
  font-size: 17px;
  line-height: 80px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  padding-left: 45px;

  &--cart {
    padding-left: 25px;
  }
}

.menu__list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #ffffff;
  position: absolute;
  left: 0;

  &--left {
    top: 80px;
  }

  &--right {
    top: 241px;
  }

  &--right .menu__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.menu__btn {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  background-image: url("../img/icon-menu-close.svg");
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
}

.menu__img,
.menu__item {
  padding: 0 30px;
  border-bottom: 1px solid #ececec;
}

.menu__img {
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu--closed {
  .menu__list {
    display: none;
  }

  .menu__btn {
    background-image: url("../img/icon-menu-open.svg");
  }
}

@media (min-width: $tablet) {
  .menu {
    display: flex;
    justify-content: space-between;
  }

  .menu__btn {
    display: none;
  }

  .menu--closed .menu__list {
    display: flex;
    width: auto;

    &--left {
      background-color: transparent;
      padding-left: 50px;
      padding-right: 0;
    }

    &--left .menu__link {
      padding-left: 0;
      margin-right: 35px;
      font-size: 15px;
    }

    &--right {
      position: static;
      padding-right: 50px;
      padding-left: 0;
    }
  }

  .menu__item {
    border-bottom: none;
    padding: 0;
  }

  .menu__img {
    border-bottom: none;
    padding: 0 50px;
  }
}

@media (min-width: $desktop) {
  .menu {
    width: $desktop;
    margin-left: auto;
    margin-right: auto;
  }

  .menu--closed .menu__list {
    &--left {
      order: 1;
      position: static;
    }

    &--right {
      order: 3;
    }
  }

  .menu__img {
    order: 2;
  }
}
