.promo {
  &--main {
    background-image: url("../img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }

  &--main .title-h1 {
    margin: 0;
    padding: 0 30px;
    padding-top: 75px;
    min-height: 284px;
  }

  &--internal {
    background-color: $grey-bg;
  }

  &--internal .title-h1 {
    margin: 0;
    margin-bottom: 30px;
    padding: 0 30px;
    padding-top: 75px;
    min-height: 177px;
  }
}

.promo__link {
  display: block;
  color: #ffffff;
  font-size: 19px;
  font-weight: 700;
  text-decoration: none;
  padding: 30px 30px;
  padding-right: 160px;
  width: 100%;
  min-height: 103px;

  &--interior {
    background-color: $green;
    background-image: url("../img/icon-interior.svg");
    background-size: 41px 63px;
    background-repeat: no-repeat;
    background-position: right 36px center;
  }

  &--toys {
    background-color: $green-dark;
    background-image: url("../img/icon-toy.svg");
    background-size: 60px 60px;
    background-repeat: no-repeat;
    background-position: right 27px center;
  }
}

.promo__menu {
  display: none;
}

@media (min-width: $tablet) {
  .promo {
    padding: 0 50px;
  }

  .promo__menu {
    display: block;
  }

  .promo__comment {
    display: block;
    text-align: right;
    line-height: 80px;
  }

  .promo__list {
    display: none;
  }

  .promo__link {
    width: 50%;
  }

  .promo__block {
    display: flex;
  }
}

@media (min-width: $desktop) {
  .promo__list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;

    a {
      display: block;
      margin-right: 60px;
      line-height: 60px;
      text-decoration: none;
      color: #000000;
      font-weight: 700;
    }
  }

  .promo__comment {
    line-height: 60px;
  }

  .promo__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
