.review {
  padding: 0 30px;
}

.review__text {
  line-height: 30px;
}

.review__author {
  font-size: 17px;
  font-weight: 700;
  color: #000000;
}

.review__nickname {
  font-size: 17px;
}

@media (min-width: $tablet) {
  .review {
    padding: 0 50px;
    padding-top: 80px;
    padding-bottom: 50px;
    margin-bottom: 65px;
    position: relative;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: left center;
  }

  .review__text {
    font-size: 17px;
  }

  .review__author {
    font-size: 18px;
  }

  .review__btn {
    width: 183px;
    position: absolute;
    top: 50px;
    right: 50px;
  }
}

@media (min-width: $desktop) {
  .review {
    padding-left: 225px;
  }

  .review__text {
    padding-right: 90px;
  }
}
