.search {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.search__btn {
  width: 20px;
  height: 20px;
  padding: 0;
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.search__input {
  margin-left: 30px;
  font-size: 17px;
  font-weight: 700;
  min-height: 80px;

  &::placeholder {
    opacity: 1;
  }
}

@media (min-width: $tablet) {
  .search__input {
    display: none;
  }

  .search__btn {
    width: 80px;
    height: 80px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid rgba(68, 68, 68, 0.1);
    border-right: 1px solid rgba(68, 68, 68, 0.1);
  }
}
