.social {
  min-height: 80px;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__link {
  display: block;
  margin-right: 40px;
  text-decoration: none;

  &:last-child {
    margin-right: 0;
  }
}

@media (min-width: $tablet) {
  .social {
    border-bottom: none;
  }
}
