.title-h1 {
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  padding: 0 30px;
}

@media (min-width: $tablet) {
  .title-h1 {
    font-size: 43px;
    line-height: 50px;
  }
}
